.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.hexpattern
.github/**
out/
esbuild.js
node_modules/
images/*.gif
publish.ps1
.eslint.json
.prettierignore
